@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bottomsheet-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --tab-bg: #222;
  --tab-color: #b2b2b2;
  --tab-color-active: #fff;
  --tab-border-bottom: #666;
  --icon-color: #e1e1e1;
  --buy-color: #4ef09d;
  --buy-color-transparent: #0159454d;
  --sell-color: #ff5a5a;
  --sell-color-transparent: #ff5a5a33;
  --background: #1a1a1a;
  --title-color: #fff;
  --button-bg: #333;
  --button-color: #666;
  --input-bg: #222;
  --input-color: #fff;
  --input-color-error: #ff5a5a;
  --input-postfix-color: #666;
  --input-icon-color: #d8d8d8;
  --input-icon-color-deactive: #666;
  --input-divider: #666;
  --input-border-bottom: #666;
  --approximation-color: #b2b2b2;
  --buttongroup-bg: #333;
  --buttongroup-color: #b2b2b2;
  --buttongroup-bg-selected: linear-gradient(0deg, #94949466, #94949466), #33333380;
  --buttongroup-color-selected: #fff;
  --balance-label: #b2b2b2;
  --balance-color: #fff;
  --orderbook-title: #666;
  --orderbook-buy-bg: #4ef09d0a;
  --orderbook-sell-bg: #ff5a5a0a;
  --bottomsheet-color: #fff;
  --bottomsheet-color-selected: #4ef09d;
  --bottomsheet-item-bg-selected: #222;
  --bottomsheet-close-color: #b2b2b2;
  --searchInput-bg: #222;
  --searchInput-placeholder-color: #666;
  --searchInput-icon-color: #666;
  --trademarket-tab-color: #b2b2b2;
  --trademarket-tab-color-active: #fff;
  --trademarket-yellow: #e2c003;
  --trademarket-basket: #74a5eb;
  --sorter-color: #666;
  --sorter-color-active: #b2b2b2;
  --sorter-title-color: #666;
  --marketlist-white: #fff;
  --marketlist-grey: #b2b2b2;
  --marketlist-grey2: #666;
  --marketlist-grey3: #333;
  --marketlist-grey4: #222;
  --listitem-bg: #2222224d;
  --listitem-bg-active: #222;
  --listItem-color: #fff;
  --chip-error-bg: linear-gradient(0deg, #0003, #0003), #ff5a5a26;
  --chip-success-bg: linear-gradient(0deg, #0003, #0003), #4ef09d1a;
  --chip-info-bg: linear-gradient(0deg, #74a5eb26, #74a5eb26), #0003;
  --chip-warning-bg: linear-gradient(0deg, #0003, #0003), #ffe6001a;
  --confirm-order-color: #b2b2b2;
  --confirm-order-white: #fff;
  --confirm-order-divider: #222;
  --tradebutton-border-color: #ebebeb;
  --radiobutton-border-color: #b2b2b2;
  --guide-chip-bg: #222;
}

@import "./fonts/font.css";
