@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background_color: #e9e9e9;
  --bold_text: #222222;
  --regular_text: #666666;
  --green_text: #02a67f;
  --red_text: #ff5a5a;
  --text: #666666;
  --yellow_currency: #e7c400;
  --blue_currency: #74a5eb;
  --price_mobile_header: #f2f2f2;
  --price_line: #b2b2b2;
  --price_category_selected_item: #d8d8d8;
  --price_category_scroll_wrapper: #d8d8d8;
  --price_card_item_border: #b2b2b2;
  --price_shaddow: #f2f2f2;
  --price_currency_border: #d8d8d8;
  --price_currency_hover: #f2f2f2;
  --price_desc_shadow: #e9e9e9;
  --price_cateogry_tablet_background: #e1e1e1;
  --probe_chart_card: #f2f2f2;
  --scroll_wrapper: #b2b2b2;
  --infoCard_hover: #f2f2f2;
  --price-clock: #222222;
  --btn-selected: #cafae1;
  --hover-col: 78, 240, 157;
}

[data-theme="dark"] {
  --background_color: #1a1a1a;
  --bold_text: #ffffff;
  --regular_text: #d8d8d8;
  --green_text: #4ef09d;
  --red_text: #ff5a5a;
  --text: #b2b2b2;
  --yellow_currency: #e7c400;
  --blue_currency: #74a5eb;
  --price_mobile_header: #222222;
  --price_line: #666666;
  --price_category_selected_item: #333333;
  --price_category_scroll_wrapper: #333333;
  --price_card_item_border: #333333;
  --price_shaddow: #222222;
  --price_currency_border: #333333;
  --price_currency_hover: #222222;
  --price_desc_shadow: #1a1a1a;
  --price_cateogry_tablet_background: #222222;
  --scroll_wrapper: #333333;
  --infoCard_hover: #222222;
  --probe_chart_card: #222222;
  --price-clock: #222222;
  --hover-col: 78, 240, 157;
  --btn-selected: #294134;
}

body {
  @apply font-body bg-background_color;
  direction: rtl;
}

@import "./fonts/font.css";
