@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background_color: #e9e9e9;
  --bold_text: #222222;
  --regular_text: #666666;
  --green_text: #02a67f;
  --red_text: #ff5a5a;
  --text: #666666;
  --probe_chart_card: #f2f2f2;
  --scroll_wrapper: #b2b2b2;
  --infoCard_hover: #f2f2f2;
  --price-clock: #222222;
  --btn-selected: #cafae1;
  --hover-col: 78, 240, 157;
  --btn-green: #4ef09d;
  --tab-border: #cfcfcf;
  --tab-text: #1a1a1a;
  --tab-selection: 209, 213, 219;
  --tab-red: #ff5151cc;
  --tab-green: #74e291;
  --btn-paggenation: #007bff;
}

[data-theme="dark"] {
  --background_color: #1a1a1a;
  --bold_text: #ffffff;
  --regular_text: #d8d8d8;
  --green_text: #4ef09d;
  --red_text: #ff5a5a;
  --text: #b2b2b2;
  --scroll_wrapper: #333333;
  --infoCard_hover: #222222;
  --probe_chart_card: #222222;
  --price-clock: #222222;
  --hover-col: 78, 240, 157;
  --btn-selected: #294134;
  --btn-green: #4ef09d;
  --tab-text: #d8d8d8;
  --tab-selection: 57, 59, 62;
  --btn-paggenation: #007bff;
}

body {
  @apply font-body bg-background_color text-xs;
  direction: rtl;
}

@import "./fonts/font.css";
