@import "./assets/style.css";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  background-color: var(--probe_chart_card);
  cursor: pointer;
  color: var(--regular_text);
  border-radius: 0.25rem;
}

.pagination-button.active {
  background-color: #007bff;
  color: white;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.rtl-grid {
  direction: rtl;
}

.ltr-grid {
  direction: ltr;
}
.flex2 {
  flex: 2;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot1,
.dot2,
.dot3 {
  width: 20px;
  height: 20px;
  background-color: var(--btn-green);
  border-radius: 50%;
  margin: 0 5px;
  animation: loaderAnimation 0.8s infinite;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

@keyframes loaderAnimation {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
